body {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}
.container {
    margin: 5em 0 0em 5em;
    max-width: 10rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    
}

span {
    width: 45%;
    height: auto;
    border: 1px solid black;
    padding: 0.3em;
    text-align: center;    
}
.container :nth-child(12) { order: 3; }
.container :nth-child(11) { order: 1; }
.container :nth-child(10) { order: 12; }
.container :nth-child(9) { order: 6; }
.container :nth-child(8) { order: 5; }
.container :nth-child(7) { order: 11; }
.container :nth-child(6) { order: 7; }
.container :nth-child(5) { order: 8; }
.container :nth-child(4) { order: 4; }
.container :nth-child(3) { order: 10; }
.container :nth-child(2) { order: 2; }
.container :nth-child(1) { order: 9; }








